


#home {
    position: relative;
    display:grid;
    justify-items: center;
    width: 100%;
    transition-duration: 0.3s;
}

#home .home-body {
    display: grid;
    justify-items: center;
    width: 100%;
    border: none;
}

#home h1 {
    display: inline-block;
    font-family: LemonMilk, sans-serif;
    font-size: 4.5rem;
    text-align: center;
    line-height: 6rem;

    font-weight: 400;
    margin-top: 6rem;
    margin-bottom: 0px;
    transition-duration: 0.5s;
}
#title0, #title1 {
    
    grid-column: 1;
    grid-row: 1;
    width: 100%;
}
#title0 {
    color: hsla(217, 60%, 60%);
    
}
#title1 {
    color: hsla(217, 60%, 80%);
    z-index: 1;
}

.home-subtitle {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    text-align: center;
}


#home h3 {
    display: grid;
    font-family: LemonMilk, sans-serif;
    font-size: 2rem;
    margin: 0px;
    color: #FFBF00;
    display: inline-block;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#home-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
    width: 50%;
    height: 100px;
    z-index: 10;
    font-size: 1.5rem;
}
.home-animation-container {
    opacity: 0;
    transition-duration: 0.5s;
}

#home h4 {
    color: hsla(217, 90%, 90%);
}
#hae-left {
    display: flex;
    width: 70%;
    justify-content: flex-end;
    height: 100%;
}
#hae1 {
    margin-top: 20px;
    margin-right: 100%;
    transition-duration: 0.5s;
}

#hae-center {
    display:flex;
    height: 100%;
    align-items: flex-start;
}
#hae2 {
    margin: 0rem;
    margin-top: 100px;
    transition-duration: 0.5s;
}

#hae-right {
    display: flex;
    height: 100%;
    width: 70%;
    justify-content: flex-start;
    opacity: 0;
}
#hae3 {
    margin-top: 20px;
    margin-left: 100%;
    transition-duration: 0.5s;
}





#glow, #foreground {
    position: relative;
    grid-column:1;
    grid-row: 1;
    height: 100%;
}

#glow {
    filter: blur(10px);
}
.city {
    width: 100%;
    height: auto;
}
#city-glow, #not-glow {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    z-index: 1;
}
#actual-glow {
    position: absolute;
    height: 100%;
    width: 110%;
    grid-row: 1 / span 4;
    grid-column: 1 / span 1;
    background-image: linear-gradient(#0A131F, #112135, #14263d);
}
#foreground {
    
}

#home-background {
    grid-column: 1;
    grid-row: 1;
}

#crane {
    position: absolute;
    bottom: 0px;
    right: 5%;
}