#navbar {
    position: relative;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 50px;
    z-index: 100;
}

#navbar a {
    text-decoration: none;
    color: rgb(100, 100, 100);
    transition-duration: 0.5s;
}


#logo-container {
    height: 100%;
    font-size: 2rem;
    line-height: 40px;
    font-family: oswald;
}


#navbar ul {
    margin: 0px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 30px;
    padding: 0;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

#navbar li {
    color: rgb(100, 100, 100);
    display: inline-block;
    transition-duration: 0.2s;
}

#navbar a:hover {
    color: white;
    font-size: 1.3rem;
}
#navbar #home-link:hover {
    font-size: 2.3rem;
}

#navbar a.activeNav {
    color: #FFBF00;
}