body {
    background: url('../../images/spaceDark.webp');
}

section {
    position: relative;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template: 1fr / 5% 1fr 5%;
    margin-left: 220%;
}



#terminal #topFrame img, .terminal-image {
    width: 100%;
    max-width: 37.5rem;
    height: auto;
}


.section-body {
    width: 80%;
    min-height: 12.5rem;
    grid-column: 2;
    display: grid;
}


#terminal {
    display: grid;
    position: relative;
    grid-template: auto /  20% minMax(80%, 80%);
    justify-content: center;
    min-height: 14.375rem;
}

#terminal #top-frame {
    position: absolute;
    display: grid;
    grid-template: 1.875rem / 1.875rem 1fr 1fr;
    grid-column: 1 / span 2;
    top:0;
    left: 0;
    width: 100%;
    height: 1.875rem;
    background-color:rgba(22, 27, 54, 0.8);
    align-items: center;
}
#top-frame p {
    margin: 0 .625rem;
    color:hsla(217, 60%, 80%);
    font-size: 0.9rem;
    width: 100%;
}
#top-frame img {
    height: 1.125rem;
    margin-left: 0.3125rem;
}

#terminal-background {
    position: relative;
    border: solid 0.125rem hsla(217, 60%, 60%, 0.5);
    background-color: rgba(20, 20, 20, 0.7);
    width: 100%;
    grid-row: 1;
    grid-column: 1 / span 2;
    filter: blur(0.3125rem);
}
#terminal-output {
    position:relative;
    grid-row: 1;
    grid-column: 2;
    padding: 1.75rem;
}

#terminal-output p {
    margin: 0 0 3rem;
}




