@font-face {
    font-family: 'Nunito Sans';
    src: url('./Fonts/NunitoSans-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('./Fonts/NunitoSans-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('./Fonts/NunitoSans-Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('./Fonts/NunitoSans-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Oswald';
    src: url('./Fonts/Oswald-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'AntrySans';
    src: url('./Fonts/AntrySans.otf') format("opentype")
}

@font-face {
    font-family: 'LemonMilk';
    src: url('./Fonts/LEMONMILK-Medium.otf');
    font-weight: 400;
}
@font-face {
    font-family: 'LemonMilk';
    src: url('./Fonts/LEMONMILK-Bold.otf');
    font-weight: bold;
}

.white {
    color: white;
}
.blue {
    color: hsla(217, 60%, 60%)
}
.satblue {
    color: hsla(200, 100%, 60%)
}

.gold {
    color: #FFBF00;
}

.green {
    color: rgb(0, 255, 0);
}

.blur5 {
    filter: blur(5px);
}

.blur10 {
    filter: blur(10px);
}

.blur20 {
    filter: blur(20px);
}




html {
    overflow-x: hidden;
}

body {
    background-color: #0A131F;
    margin: 0 2rem;
    font-family: 'Nunito Sans', sans-serif;
    color:white;
    font-size: 18px;
}

section {
    position: relative;
    width: 100%;
    display:grid;
    justify-items: center;
    transition-duration: 0.5s;
}


.left-arrow, .right-arrow {
    position: absolute;
    height: 70px;
    transition-duration: 0.5s;
}


.left-arrow:hover, .right-arrow:hover {
    cursor: pointer;
    top: 48%;
    height: 90px;
}
.left-arrow:hover {
    left: 0%;

}
.right-arrow:hover {
    right: 0%;
}

.left-arrow {
    left: 2%;
    top: 50%;
    transform: rotate(180deg);
    filter: invert(76%) sepia(78%) saturate(2314%) hue-rotate(359deg) brightness(103%) contrast(105%);
}
.right-arrow {
    right: 2%;
    top: 50%;
    filter: invert(76%) sepia(78%) saturate(2314%) hue-rotate(359deg) brightness(103%) contrast(105%);
}
